@charset "UTF-8";
body {
  margin: 0;
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.is-hidden {
  /* display: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.size {
  padding: 0;
  margin: 0;
}

/* section */
.section {
  max-width: 1600px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightblue; */
}

@media screen and (min-width: 1600px) {
  .section {
    width: 1600px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.section-bott {
  padding-bottom: 0;
}

.section-top {
  padding-top: 60px;
}

@media screen and (min-width: 1600px) {
  .section-top {
    padding-top: 94px;
  }
}

/* conteiner */
.conteiner {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .conteiner {
    width: 1170px;
  }
}

/* шапка сайта */
/* навигация nav */
.nav-flex {
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.nav-flex .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 768px) {
  .nav-flex .top-menu {
    display: inherit;
    padding: 0 0 0 15px;
    border-bottom: transparent;
  }
}

@media screen and (min-width: 1600px) {
  .nav-flex .top-menu {
    padding: 0;
  }
}

.nav-flex .menu-button {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.nav-flex .menu-button .icon-menu {
  display: block;
  fill: currentColor;
}

.nav-flex .menu-button:hover .icon-menu {
  fill: #2196F3;
}

.nav-flex .menu-button .icon-close {
  display: none;
}

.nav-flex .menu-button.is-open .icon-close {
  display: block;
  fill: currentColor;
}

.nav-flex .menu-button:hover .icon-close {
  fill: #2196F3;
}

.nav-flex .menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-flex .menu-button {
    display: none;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: inline-flex;
  }
}

.navigation.is-open {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .navigation.is-open {
    position: inherit;
    display: flex;
    width: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    margin-left: 71px;
    text-align: inherit;
  }
  .nav .item + .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .nav {
    margin-bottom: 0;
    margin-left: 85px;
  }
}

.nav-link {
  display: inline-block;
  padding-bottom: 40px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* cursor: pointer; */
  /* background: #2196F3; */
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-link:hover, .nav-link:focus {
  color: #2196F3;
}

.nav-link.current {
  position: relative;
  color: #2196F3;
}

.nav-link.current::after {
  position: absolute;
  content: "";
  bottom: 32px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .nav-link.current::after {
    bottom: 0;
  }
}

/* навигация телефон и меил */
.auth {
  text-align: center;
}

.auth .item + .item {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .auth {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 71px;
    text-align: inherit;
  }
  .auth .item {
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 1600px) {
  .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 305px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .auth .item + .item {
    margin-left: 30px;
    margin-top: 0;
  }
  .auth .item {
    margin-bottom: 0;
  }
}

.auth-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1600px) {
  .auth-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-link:hover, .auth-link:focus {
  color: #2196F3;
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
  /* fill= $primaryTextColor; */
}

.icon-envelope:hover, .icon-envelope:focus,
.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: #2196F3;
}

/* логотип */
.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* cursor: pointer; */
}

.web-color {
  color: #2196F3;
}

/* закос ссылки под button */
.button-primary, .button-secondary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: flex;
  /* padding: 0;
      margin: 0; */
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-color: #2196F3;
  border-radius: 4px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-secondary:hover, .button-primary:focus, .button-secondary:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-primary {
  padding: 15px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 118px;
}

@media screen and (min-width: 1600px) {
  .button-primary {
    margin-bottom: 200px;
  }
}

.button-secondary {
  width: 200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1600px) {
  .button-secondary {
    margin-left: 0;
    margin-right: 0;
  }
}

/* старница Портфолио */
/* секция Наши работы */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.menu-item {
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  /* background: coral; */
  text-align: center;
}

.real-button {
  padding: 6px 22px 6px 22px;
  border: none;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  /* background: teal; */
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.real-button:hover, .real-button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work-item {
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .work-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .work-item {
    width: calc((100% - 60px) / 3);
    margin-left: 0;
    margin-right: 30px;
  }
  .work-item:nth-child(3n) {
    margin-right: 0;
  }
  .work-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.work-item:hover, .work-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-item .work-title {
  display: block;
  padding: 20px 24px 4px 24px;
  margin: 0;
  /* margin-top: 0;
          margin-bottom: 4px;
          margin-left: 24px;
          margin-right: 24px; */
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-item .work-type {
  display: block;
  padding: 0px 24px 20px 24px;
  margin: 0;
  /* margin-top: 0;
          margin-bottom: 20px;
          margin-left: 24px;
          margin-right: 24px; */
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
}

.work-img {
  position: relative;
  display: block;
  margin-top: 0;
  overflow: hidden;
}

.work-img::before {
  display: block;
  content: "";
  height: 294px;
  background-repeat: no-repeat;
  background-position: center;
}

.work-img.tehno::before {
  background-image: url(../images/tehno-450.jpg);
  background-size: cover;
}

.work-img.poster::before {
  background-image: url(../images/poster-450.jpg);
  background-size: cover;
}

.work-img.seafood::before {
  background-image: url(../images/seafood-450.jpg);
  background-size: cover;
}

.work-img.headphones::before {
  background-image: url(../images/headphones-450.jpg);
  background-size: cover;
}

.work-img.boxes::before {
  background-image: url(../images/boxes-450.jpg);
  background-size: cover;
}

.work-img.monitor::before {
  background-image: url(../images/design-450.jpg);
  background-size: cover;
}

.work-img.magazine::before {
  background-image: url(../images/magazine-450.jpg);
  background-size: cover;
}

.work-img.label::before {
  background-image: url(../images/label-450.jpg);
  background-size: cover;
}

.work-img.growing::before {
  background-image: url(../images/growing-450.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .work-img.tehno::before {
    background-image: url(../images/tehno-354.jpg);
    background-size: cover;
  }
  .work-img.poster::before {
    background-image: url(../images/poster-354.jpg);
    background-size: cover;
  }
  .work-img.seafood::before {
    background-image: url(../images/seafood-354.jpg);
    background-size: cover;
  }
  .work-img.headphones::before {
    background-image: url(../images/headphones-354.jpg);
    background-size: cover;
  }
  .work-img.boxes::before {
    background-image: url(../images/boxes-354.jpg);
    background-size: cover;
  }
  .work-img.monitor::before {
    background-image: url(../images/design-354.jpg);
    background-size: cover;
  }
  .work-img.magazine::before {
    background-image: url(../images/magazine-354.jpg);
    background-size: cover;
  }
  .work-img.label::before {
    background-image: url(../images/label-354.jpg);
    background-size: cover;
  }
  .work-img.growing::before {
    background-image: url(../images/growing-354.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1600px) {
  .work-img.tehno::before {
    background-image: url(../images/tehno-370.jpg);
    background-size: cover;
  }
  .work-img.poster::before {
    background-image: url(../images/poster-370.jpg);
    background-size: cover;
  }
  .work-img.seafood::before {
    background-image: url(../images/seafood-370.jpg);
    background-size: cover;
  }
  .work-img.headphones::before {
    background-image: url(../images/headphones-370.jpg);
    background-size: cover;
  }
  .work-img.boxes::before {
    background-image: url(../images/boxes-370.jpg);
    background-size: cover;
  }
  .work-img.monitor::before {
    background-image: url(../images/design-370.jpg);
    background-size: cover;
  }
  .work-img.magazine::before {
    background-image: url(../images/magazine-370.jpg);
    background-size: cover;
  }
  .work-img.label::before {
    background-image: url(../images/label-370.jpg);
    background-size: cover;
  }
  .work-img.growing::before {
    background-image: url(../images/growing-370.jpg);
    background-size: cover;
  }
}

.work-img .splash {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 295px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* при ховере на итем срабатывает, а при фокусе на итем нет, поэтому фокус - на ссылку */
}

.work-item:hover .work-img .splash,
.work-item a:focus .work-img .splash {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.work-img .splash .work-text {
  /* display: flex; */
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal {
  position: absolute;
  top: 93px;
  left: 15px;
  padding: 40px;
  width: 450px;
  height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .backdrop .modal {
    top: calc(50% + 10px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1600px) {
  .backdrop .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop .modal-title {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.backdrop .close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.backdrop .close-button:hover, .backdrop .close-button:focus {
  fill: #2196F3;
}

.backdrop .policy-style a {
  color: #2196F3;
}

.backdrop .form {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  /* outline: 1px solid hotpink; */
}

.backdrop .form .button.primary {
  margin-bottom: 0;
}

@media screen and (min-width: 1600px) {
  .backdrop .form {
    width: 448px;
  }
}

.backdrop .form-field {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
}

.backdrop .form-field .form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .form-field .form-input:hover, .backdrop .form-field .form-input:focus {
  border-color: #2196F3;
}

.backdrop .form-field .form-input:focus + .form-label,
.backdrop .form-field .form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-25px, -250%);
  transform: translate(-25px, -250%);
  font-size: 12px;
  line-height: 1.16;
  color: #2196F3;
}

.backdrop .form-field .form-input:focus ~ .icon-name {
  fill: #2196F3;
}

.backdrop .form-field .form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  display: block;
  letter-spacing: 0.01em;
  line-height: 1.14;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .form-field .icon-name {
  position: absolute;
  left: 16px;
  top: 11px;
  display: inline-block;
  padding: 0;
  margin-right: 8px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .form-field.comments {
  margin-bottom: 20px;
}

.backdrop .form-field textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .form-field textarea:hover, .backdrop .form-field textarea:focus {
  border-color: #2196F3;
}

.backdrop .policy-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.backdrop .policy-style .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop .policy-style .checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  /* transition: background-color 250ms $cubicParameters, border-color 250ms $cubicParameters; */
}

.backdrop .policy-style .checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  fill: #FFFFFF;
}

.backdrop .policy-style .agreement {
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (min-width: 1600px) {
  .backdrop .policy-style .agreement {
    font-size: inherit;
    line-height: inherit;
  }
}

/* footer */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.section-footer .foot {
  color: #FFFFFF;
}

@media screen and (min-width: 1600px) {
  .section-footer .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .section-footer .addr-join-block {
    display: flex;
  }
}

.section-footer .logo-addr {
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-footer .logo-addr {
    margin-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1600px) {
  .section-footer .logo-addr {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 69px;
  }
}

.section-footer .logo-addr .logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 1600px) {
  .section-footer .logo-addr .logo {
    text-align: inherit;
  }
}

.section-footer .logo-addr .addr {
  display: block;
  text-align: center;
  font-style: normal;
  /* text-decoration: none;     */
}

@media screen and (min-width: 1600px) {
  .section-footer .logo-addr .addr {
    text-align: inherit;
  }
}

.section-footer .logo-addr .addr-link {
  display: block;
  padding-top: 9px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

@media screen and (min-width: 1600px) {
  .section-footer .logo-addr .addr-link {
    text-align: inherit;
  }
}

.section-footer .join-block {
  margin-bottom: 60px;
  margin-left: 122px;
  margin-right: 122px;
}

@media screen and (min-width: 768px) {
  .section-footer .join-block {
    margin-left: 0;
    margin-right: 89px;
  }
}

@media screen and (min-width: 1600px) {
  .section-footer .join-block {
    margin-bottom: 0;
    margin-right: 94px;
  }
}

.section-footer .action-title {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .section-footer .action-title {
    text-align: inherit;
  }
}

.section-footer .join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-footer .join-item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  color: #FFFFFF;
  /* background: teal; */
}

.section-footer .join-item:nth-child(4n) {
  margin-right: 0;
}

.section-footer .join-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.section-footer .join .social {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  fill: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-footer .join .social:hover, .section-footer .join .social:focus {
  background: #2196F3;
}

@media screen and (min-width: 1600px) {
  .section-footer .form-style {
    display: flex;
  }
}

.section-footer .input-style {
  width: 450px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section-footer .input-style {
    margin-left: 166px;
    margin-right: 152px;
  }
}

@media screen and (min-width: 1600px) {
  .section-footer .input-style {
    margin-bottom: 0;
    width: 358px;
    align-items: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 12px;
    align-items: inherit;
  }
}

.section-footer .button-plane {
  display: inline-flex;
  margin-left: 10px;
  fill: #FFFFFF;
}

/* main */
.hero {
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  /* height: 600px;  */
  text-align: center;
  /* outline: 1px solid crimson; */
}

@media screen and (min-width: 1600px) {
  .hero {
    margin-bottom: 94px;
  }
}

.hero-title {
  display: inline-block;
  margin: 118px auto 30px auto;
  width: 360px;
  /* заменить цвет после фона */
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .hero-title {
    margin: 200px auto 30px auto;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background: #F5F4FA;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-480.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 1; */
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-768.jpg");
  }
}

@media screen and (min-width: 1600px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header.jpg");
    height: 600px;
  }
}

/* 2nd section Features of work */
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.features-item {
  width: calc(100% - 2 * 15px);
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .features-item {
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.features-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-item-title {
    text-align: inherit;
  }
}

.features-item-img {
  width: 450px;
  height: 120px;
  border: 1px solid #F5F4FA;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 25px 102.34px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item-img {
    width: 354px;
  }
}

@media screen and (min-width: 1600px) {
  .features-item-img {
    width: 270px;
  }
}

@media screen and (min-width: 1600px) {
  .features-item:last-child {
    margin-right: 0;
  }
}

/* 3d section What are we doing */
.section-hidden {
  display: none;
}

@media screen and (min-width: 1600px) {
  .section-hidden {
    display: block;
  }
}

.section-title.scope-title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.scope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.scope-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  /* background: coral; */
  /* width: 370px;     */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.scope-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* height: 70px;  */
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  z-index: 1;
}

.scope-item:nth-child(3n) {
  margin-right: 0;
}

.scope-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* 4d section Our team */
.team-section {
  padding-top: 60px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1600px) {
  .team-section {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.team-item {
  width: calc(100% - 2 * 15px);
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* background: orange; */
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .team-item {
    width: calc((100% - 30px * 3) / 4);
    margin-left: 0;
    margin-right: 30px;
  }
}

.team-item-title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-item-photo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  width: 450px;
  height: 320px;
}

@media screen and (min-width: 768px) {
  .team-item-photo {
    width: 354px;
    height: 260px;
  }
}

@media screen and (min-width: 1600px) {
  .team-item-photo {
    width: 270px;
  }
}

.team-item-profession {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .team-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1600px) {
  .team-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.team-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 24px;
  margin-left: 122px;
  margin-right: 122px;
}

@media screen and (min-width: 768px) {
  .team-item .social {
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 1600px) {
  .team-item .social {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.social-item {
  width: calc((100% - 30px) / 4);
  /* height: 44px; */
  margin-right: 10px;
  text-align: center;
  /* background: teal; */
}

.social-item-link {
  display: block;
  /* content: "";  */
  padding: 11px;
  width: 44px;
  height: 44px;
  /* border: 1px solid var(--secondary-bg-color); */
  border-radius: 50%;
  background-color: #FFFFFF;
  /* background-size: 20px; */
  background-repeat: no-repeat;
  background-position: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* cursor: pointer; */
}

.social-item-link:hover, .social-item-link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.social-item:nth-child(4n) {
  margin-right: 0;
}

/* 5d section Clients */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.clients-item {
  width: calc((100% - 15px * 4) / 2);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  /* background: teal; */
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 15px * 6) / 3);
  }
}

@media screen and (min-width: 1600px) {
  .clients-item {
    width: calc((100% - 30px * 5) / 6);
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 480px) {
  .clients-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1600px) {
  .clients-item:nth-child(6n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1600px) {
  .clients-item:nth-child(1n) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1600px) {
  .clients-item:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
}

.client-logo {
  display: block;
  height: 90px;
  padding-top: 22px;
  padding-bottom: 22px;
  /* text-align: center;     */
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* cursor: pointer; */
  width: 210px;
}

@media screen and (min-width: 768px) {
  .client-logo {
    width: 226px;
  }
}

@media screen and (min-width: 1600px) {
  .client-logo {
    width: 170px;
  }
}

.client-logo:hover, .client-logo:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.svg-size {
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */