@import './utils/variables';
@import './utils/base';
@import './utils/utilits';
@import './components/section-container';
@import './components/page-header';
@import './components/logo';
@import './components/button';
@import './components/portfolio';
@import './components/modal-window';
@import './components/page-footer';

/* main */
.hero {
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: $sectionWidth;
  /* height: 600px;  */
  text-align: center;
  /* outline: 1px solid crimson; */

  @media screen and (min-width: 1600px) {
    margin-bottom: 94px;    
  }

  &-title {
    display: inline-block;
    margin: 118px auto 30px auto;
    width: 360px;
    /* заменить цвет после фона */
    color: $primaryWhiteColor;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      margin: 200px auto 30px auto;
      width: 696px;
      font-size: 44px;
      line-height: 1.36;          
    }
  }  
}

.overlay {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: $sectionWidth;  
  background: $secondaryBgColor;
  // background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-480.jpg");
  height: 400px;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-768.jpg");    
  }
  @media screen and (min-width: 1600px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header.jpg");
    height: 600px;
  }  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 1; */
}

/* 2nd section Features of work */
.features {
  @media screen and (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  &-item {
    width: calc(100% - 2 * 15px);
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2); 
    }   

    @media screen and (min-width: 1600px) {      
      width: calc((100% - 3 * 30px) / 4);
      margin-right: 30px;
      margin-left: 0;
      margin-bottom: 0;
    }
       
    &-title {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 700;
      line-height: 1.14;
      color: $titleTextColor;
      text-transform: uppercase;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: inherit;
      }  
    }

    &-img {
      width: 450px;
      height: 120px;
      border: 1px solid $secondaryBgColor;
      border-radius: 4px;
      background: $secondaryBgColor;
      padding: 25px 102.34px;
      margin-bottom: 30px;

      @media screen and (min-width: 768px) {
        width: 354px;      
      }

      @media screen and (min-width: 1600px) {
        width: 270px;       
      }
    }
  }

  &-item:last-child {
    @media screen and (min-width: 1600px) { 
      margin-right: 0;
    }
  } 
}

/* 3d section What are we doing */
.section-hidden {
  display: none;

  @media screen and (min-width: 1600px) {
    display: block;
  }
}

.section-title.scope-title { 
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: $titleTextColor;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;      
}

.scope { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
      
  &-item {   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1; 
    /* background: coral; */     
  
    /* width: 370px;     */
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;        
  
    &-title {     
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding-top: 27px;
      padding-bottom: 27px;
      width: 370px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      /* height: 70px;  */
      background-color: rgba(47, 48, 58, 0.8);
      color: $primaryWhiteColor;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      z-index: 1;         
    }
  }
  
  &-item:nth-child(3n) {
    margin-right: 0;
  }
  
  &-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }    
}

/* 4d section Our team */
.team-section {  
  padding-top: 60px;  
  background-color: $secondaryBgColor;

  @media screen and (min-width: 1600px) { 
    padding-top: $sectionPaddingTop;  
  }
}

.team {
  @media screen and (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &-item {
    width: calc(100% - 2 * 15px);
    margin-bottom: 30px;
    margin-left: 15px;    
    margin-right: 15px;

    background: $primaryWhiteColor;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    /* background: orange; */

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px * 2) / 2);               
    }

    @media screen and (min-width: 1600px) {
      width: calc((100% - 30px * 3) / 4);
      margin-left: 0;
      margin-right: 30px;             
    }
    

    &-title {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
      color: $titleTextColor;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
    }

    &-photo {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 30px;
      width: 450px;
      height: 320px;

      @media screen and (min-width: 768px) {
        width: 354px;   
        height: 260px;   
      }

      @media screen and (min-width: 1600px) {
        width: 270px;       
      }
    }

    &-profession {
      display: block;
      margin-top: 0;
      margin-bottom: 16px;
      color: $primaryTextColor;
      font-size: 16px;
      line-height: 1.2;
      text-align: center;
    }
  }
  
  &-item:nth-child(4n) {
    @media screen and (min-width: 1600px) {
      margin-right: 0;
    }
  }
  
  &-item:nth-last-child(-n + 4) {
    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
    }
  }     
}

.team-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;      
 
  padding-bottom: 24px; 
  margin-left: 122px;
  margin-right: 122px;
  
  @media screen and (min-width: 768px) {    
    margin-left: 74px;
    margin-right: 74px;               
  }

  @media screen and (min-width: 1600px) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.social-item {
  width: calc((100% - 30px) / 4);
  /* height: 44px; */
  margin-right: 10px;
  text-align: center;
  /* background: teal; */

  &-link {
    display: block;
    /* content: "";  */
    padding: 11px;
    width: 44px;
    height: 44px;
    /* border: 1px solid var(--secondary-bg-color); */
    border-radius: 50%;
    background-color: $primaryWhiteColor;
    /* background-size: 20px; */
    background-repeat: no-repeat;
    background-position: center;
    fill: #afb1b8;
    -webkit-transition: fill 250ms $cubicParameters, background-color 250ms $cubicParameters;
    transition: fill 250ms $cubicParameters, background-color 250ms $cubicParameters;
    /* cursor: pointer; */

    &:hover,
    &:focus {
      background-color: $accentColor;
      fill: $primaryWhiteColor;
    }
  }
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}

/* 5d section Clients */
.clients {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0;

  &-item {
    width: calc((100% - 15px * 4) / 2);
    // height: 90px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    
    /* background: teal; */
    
    @media screen and (min-width: 768px) {
      width: calc((100% - 15px * 6) / 3);                  
    }

    @media screen and (min-width: 1600px) {
      width: calc((100% - 30px * 5) / 6);    
      margin-right: auto;
      margin-left: auto;         
    }
    
  }
  
  &-item:nth-last-child(-n + 2) {
    @media screen and (min-width: 480px) {
      margin-bottom: 0;
    }
  }

  &-item:nth-last-child(-n + 3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &-item:nth-child(6n) {
    @media screen and (min-width: 1600px) {
      margin-right: 0;
    }
  }

  &-item:nth-child(1n) {
    @media screen and (min-width: 1600px) {
      margin-left: 0;
    }
  }
  
  &-item:nth-last-child(-n + 6) {
    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
    }
  }
}

.client-logo {
  display: block;  
  height: 90px;
  padding-top: 22px;
  padding-bottom: 22px;
  /* text-align: center;     */
  border: 1px solid $borderColor;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border-color 250ms $cubicParameters, fill 250ms $cubicParameters;
  transition: border-color 250ms $cubicParameters, fill 250ms $cubicParameters;
  /* cursor: pointer; */

  width: 210px;

  @media screen and (min-width: 768px) {
    width: 226px;             
  }

  @media screen and (min-width: 1600px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
    border-color: $accentColor;
  }
}

.svg-size {
  padding: 5px;
}