/* footer */
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;  
  background-color: $bgColor; 
  
  // класс футера
  .foot {
    color: $primaryWhiteColor;    

    @media screen and (min-width: 1600px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }         
  }
  
  .addr-join-block {
    @media screen and (min-width: 768px) {   
      display: flex; 
    }    
  }

  // контейнер с лого и адресом
  .logo-addr {
    display: block;   
    margin-bottom: 60px;   
    
    @media screen and (min-width: 768px) {    
      margin-left: 76px;  
      margin-right: 165px;
    }
    
    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
      margin-left: 0;  
      margin-right: 69px;
    }
  
    .logo {
      display: block;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      color: $primaryWhiteColor;

      @media screen and (min-width: 1600px) {
        text-align: inherit;
      }
    }
  
    .addr {
      display: block;  
      // width: 232px;     
      text-align: center;  
      font-style: normal;
      /* text-decoration: none;     */      

      @media screen and (min-width: 1600px) {
        text-align: inherit;
      }
    }
  
    .addr-link {
      display: block;      
      padding-top: 9px;
      text-align: center;

      color: rgba(255, 255, 255, 0.6);
      font-style: normal;

      @media screen and (min-width: 1600px) {
        text-align: inherit;
      }
    }
  }
  
  .join-block {
    margin-bottom: 60px;
    margin-left: 122px;
    margin-right: 122px;
    // justify-content: center;

    @media screen and (min-width: 768px) {    
      margin-left: 0;  
      margin-right: 89px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 0;      
      margin-right: 94px;
    }
  }

  // Присоединяйтесь и Подпишитесь на рассылку
  .action-title {
    display: block;
    margin-top: 12px;
    margin-bottom: 20px;      
    text-align: center;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      text-align: inherit;
    }
  }
  
  // список с соц. сетями
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;        
  
    &-item {
      width: calc((100% - 30px) / 4);     
      margin-right: 10px;      
      color: $primaryWhiteColor;
      /* background: teal; */
    }
    
    &-item:nth-child(4n) {
      margin-right: 0;
    }
    
    &-item:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
  
  // класс той ссылки, где лежит svg соц. сети
  .join .social {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    fill: $primaryWhiteColor;
    -webkit-transition: background-color 250ms $cubicParameters;
    transition: background-color 250ms $cubicParameters;
   
    &:hover,
    &:focus {
      background: $accentColor;
    }
  }
    
  .form-style {
    @media screen and (min-width: 1600px) {
      display: flex;  
    }     
  }

  .input-style {   
    // display: block;     
    width: 450px;
    height: 50px;
    
    padding: 15px;    
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
    cursor: pointer;    

    @media screen and (min-width: 768px) {
      margin-left: 166px;
      margin-right: 152px;
    }

    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
      width: 358px;
      align-items: inherit;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 12px;
      align-items: inherit;
    }
  }
  
  .button-plane {
    display: inline-flex;
    margin-left: 10px;
    fill: $primaryWhiteColor;
  }
}

  