/* шапка сайта */

/* навигация nav */
.nav-flex {
  margin-left: 15px;
  margin-right: 15px;

  @media screen and (min-width: 768px) { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }    

  @media screen and (min-width: 1600px) {
    margin-left: auto;
    margin-right: auto;
  }  
}
  
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media screen and (min-width: 768px) { 
    margin-left: 81px;
  }

  @media screen and (min-width: 1600px) {
    margin-left: 85px;
  }    

  .item + .item {
    margin-left: 50px;
  }

  &-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $titleTextColor;
    -webkit-transition: color 250ms $cubicParameters;
    transition: color 250ms $cubicParameters;
    /* cursor: pointer; */
    /* background: #2196F3; */
  
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }

  &-link.current {
    position: relative;
    color: $accentColor;
  
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: $accentColor;
      border-radius: 2px;
    }
  }
}

/* навигация nav */
.auth {
  padding-top: 16px;
  padding-bottom: 5px;
  margin-left: auto;

  .item {
    padding: 0;
    margin: 0;
  }

  .item + .item {
    margin-top: 5px;
  }   
  
  @media screen and (min-width: 1600px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 0;
    padding-bottom: 0;

    .item + .item {
      margin-left: 30px;
    }   

    .item + .item {
      margin-top: 0;
    }   
  }     

  
  
  &-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: $primaryTextColor;
    -webkit-transition: color 250ms $cubicParameters;
    transition: color 250ms $cubicParameters;
    
    @media screen and (min-width: 1600px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;  
  padding: 0;
  fill: currentColor;
  /* fill= $primaryTextColor; */

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}