/* шапка сайта */

/* навигация nav */
.nav-flex {
  position: relative; 

  // padding-top: 16px;

  @media screen and (min-width: 768px) {     
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
  }    

  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 16px 15px;    
    border-bottom: 1px solid #ECECEC;

    @media screen and (min-width: 768px) {
      display: inherit;
      padding: 0 0 0 15px;      
      border-bottom: transparent;
    }

    @media screen and (min-width: 1600px) {
      padding: 0;    
    }
  }

  .menu-button {
    // display: block;    
    width: 40px;
    height: 40px;
    // margin: 0 5px 0 0;
    padding: 0;
    border: none;
    background-color: $primaryWhiteColor; 
    fill: #000000;
    transition: fill 250ms $cubicParameters;
    cursor: pointer;   
    
    .icon-menu {
      display: block;      
      fill:  currentColor;
    }    

    &:hover .icon-menu {
      fill: $accentColor;
    }
   
    .icon-close {
      display: none;   
    }

    &.is-open .icon-close {
      display: block;
      fill:  currentColor;             
    }    

    &:hover .icon-close {
      fill: $accentColor;
    }

    &.is-open .icon-menu {
      display: none;
    }           

    @media screen and (min-width: 768px) {
      display: none;
    }   
  }
}  

.navigation {
  display: none;
  
  @media screen and (min-width: 768px) { 
    display: inline-flex;
  }

  &.is-open {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;    
    width: 100%;
    z-index: 1;

    background-color: $primaryWhiteColor;
  
    padding-top: 60px; 
    padding-bottom: 60px;
  
    @media screen and (min-width: 768px) {  
      position: inherit;    
      display: flex;        
      width: inherit;  
    
      padding-top: 0; 
      padding-bottom: 0;
    }  
  }
}

.nav {  
  margin-bottom: 20px;
  text-align: center;  

  @media screen and (min-width: 768px) { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 0;

    // отступ не совпадает с макетом
    margin-left: 71px;
    text-align: inherit;  

    .item + .item {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: 1600px) {       
    margin-bottom: 0;
    margin-left: 85px;    
  }      

  &-link {
    display: inline-block;

    padding-bottom:40px;    

    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: $titleTextColor;
    -webkit-transition: color 250ms $cubicParameters;
    transition: color 250ms $cubicParameters;
    /* cursor: pointer; */
    /* background: #2196F3; */
  
    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;      
    }

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }  

  &-link.current {
    position: relative;
    color: $accentColor;    
  
    &::after {
      position: absolute;
      content: "";
      bottom: 32px;
      left: 0;
      width: 100%;
      height: 4px;
      background: $accentColor;
      border-radius: 2px;
      
      @media screen and (min-width: 768px) {
        bottom: 0;
      }
    }
  }
}

/* навигация телефон и меил */
.auth {
  text-align: center; 

  .item + .item {
    margin-top: 10px;
  } 

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px; 
    margin-left: 71px; 
    text-align: inherit;  
  
    .item {    
      margin-bottom: -10px;
    }
  }  
  
  @media screen and (min-width: 1600px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-left: 305px;

    padding-top: 0;
    padding-bottom: 0;

    .item + .item {
      margin-left: 30px;
      margin-top: 0;
    }   

    .item {    
      margin-bottom: 0;
    } 
  }       
  
  &-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: $primaryTextColor;
    -webkit-transition: color 250ms $cubicParameters;
    transition: color 250ms $cubicParameters;
    
    @media screen and (min-width: 1600px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;  
  padding: 0;
  fill: currentColor;
  /* fill= $primaryTextColor; */

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}