/* старница Портфолио */
/* секция Наши работы */
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
    margin-left: 15px;   
    margin-right: 15px;
    margin-bottom: 50px; 

    @media screen and (min-width: 768px) {
      margin-left: auto; 
      margin-right: auto;    
      justify-content: center;
    }    
  
    &-item {      
      padding: 0;
      margin-right: 8px;
      margin-bottom: 8px;
      /* background: coral; */
      text-align: center;
    }
  }
  
  .real-button {
    padding: 6px 22px 6px 22px;
    border: none;
    background-color: $secondaryBgColor;
    color: $titleTextColor;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    /* background: teal; */
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    -webkit-transition: background-color 250ms $cubicParameters, color 250ms $cubicParameters, -webkit-box-shadow 250ms $cubicParameters;
    transition: background-color 250ms $cubicParameters, color 250ms $cubicParameters, -webkit-box-shadow 250ms $cubicParameters;
    transition: background-color 250ms $cubicParameters, color 250ms $cubicParameters, box-shadow 250ms $cubicParameters;
    transition: background-color 250ms $cubicParameters, color 250ms $cubicParameters, box-shadow 250ms $cubicParameters, -webkit-box-shadow 250ms $cubicParameters;
  
    &:hover,
    &:focus {
      background-color: $accentColor;
      color: $primaryWhiteColor;
      -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
              box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
    }

    
  
    &-item {
      width: calc(100% - 30px);      
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;
      background: $primaryWhiteColor;
      border: 1px solid #EEEEEE;
      
      overflow: hidden;
      -webkit-box-shadow: none;
              box-shadow: none;
      -webkit-transition: -webkit-box-shadow 250ms $cubicParameters;
      transition: -webkit-box-shadow 250ms $cubicParameters;
      transition: box-shadow 250ms $cubicParameters;
      transition: box-shadow 250ms $cubicParameters, -webkit-box-shadow 250ms $cubicParameters;
      
      @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
      }

      @media screen and (min-width: 1600px) {
        width: calc((100% - 60px) / 3);
        margin-left: 0;
        margin-right: 30px;           

        &:nth-child(3n) {
          margin-right: 0;
        }
        
        &:nth-last-child(-n + 3) {
          margin-bottom: 0;
        }
      }      

      &:hover,
      &:focus {
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }  
  
      .work-title {
        display: block;
        padding: 20px 24px 4px 25px;
        margin: 0;        
        /* margin-top: 0;
          margin-bottom: 4px;
          margin-left: 24px;
          margin-right: 24px; */
        color: $titleTextColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      .work-type {
        display: block;
        padding: 0px 24px 20px 24px;
        margin: 0;
        /* margin-top: 0;
          margin-bottom: 20px;
          margin-left: 24px;
          margin-right: 24px; */
        color: $primaryTextColor;
        font-size: 16px;
        line-height: 1.8;
      }
    }          
  }
  
  .work-img {
    position: relative;
    display: block;
    margin-top: 0;
    overflow: hidden;
  
    &::before {
      display: block;
      content: "";
      height: 294px;
      background-repeat: no-repeat;
      background-position: center;
    }  
    

    &.tehno::before {
      background-image: url(../images/tehno-450.jpg);
      background-size: cover;
    }
    
    &.poster::before {
      background-image: url(../images/poster-450.jpg);
      background-size: cover;
    }
    
    &.seafood::before {
      background-image: url(../images/seafood-450.jpg);
      background-size: cover;
    }
    
    &.headphones::before {
      background-image: url(../images/headphones-450.jpg);
      background-size: cover;
    }
    
    &.boxes::before {
      background-image: url(../images/boxes-450.jpg);
      background-size: cover;
    }
    
    &.monitor::before {
      background-image: url(../images/design-450.jpg);
      background-size: cover;
    }
    
    &.magazine::before {
      background-image: url(../images/magazine-450.jpg);
      background-size: cover;
    }
    
    &.label::before {
      background-image: url(../images/label-450.jpg);
      background-size: cover;
    }
    
    &.growing::before {
      background-image: url(../images/growing-450.jpg);
      background-size: cover;
    }

    @media screen and (min-width: 768px) {
      &.tehno::before {
        background-image: url(../images/tehno-354.jpg);
        background-size: cover;
      }
      
      &.poster::before {
        background-image: url(../images/poster-354.jpg);
        background-size: cover;
      }
      
      &.seafood::before {
        background-image: url(../images/seafood-354.jpg);
        background-size: cover;
      }
      
      &.headphones::before {
        background-image: url(../images/headphones-354.jpg);
        background-size: cover;
      }
      
      &.boxes::before {
        background-image: url(../images/boxes-354.jpg);
        background-size: cover;
      }
      
      &.monitor::before {
        background-image: url(../images/design-354.jpg);
        background-size: cover;
      }
      
      &.magazine::before {
        background-image: url(../images/magazine-354.jpg);
        background-size: cover;
      }
      
      &.label::before {
        background-image: url(../images/label-354.jpg);
        background-size: cover;
      }
      
      &.growing::before {
        background-image: url(../images/growing-354.jpg);
        background-size: cover;
      }
    }

    @media screen and (min-width: 1600px) {
      &.tehno::before {
        background-image: url(../images/tehno-370.jpg);
        background-size: cover;
      }
      
      &.poster::before {
        background-image: url(../images/poster-370.jpg);
        background-size: cover;
      }
      
      &.seafood::before {
        background-image: url(../images/seafood-370.jpg);
        background-size: cover;
      }
      
      &.headphones::before {
        background-image: url(../images/headphones-370.jpg);
        background-size: cover;
      }
      
      &.boxes::before {
        background-image: url(../images/boxes-370.jpg);
        background-size: cover;
      }
      
      &.monitor::before {
        background-image: url(../images/design-370.jpg);
        background-size: cover;
      }
      
      &.magazine::before {
        background-image: url(../images/magazine-370.jpg);
        background-size: cover;
      }
      
      &.label::before {
        background-image: url(../images/label-370.jpg);
        background-size: cover;
      }
      
      &.growing::before {
        background-image: url(../images/growing-370.jpg);
        background-size: cover;
      }
    }
    
    .splash {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 295px;
      background-color: rgba(33, 150, 243, 0.9);
      -webkit-transform: translateY(150%);
              transform: translateY(150%);
      -webkit-transition: -webkit-transform 250ms $cubicParameters;
      transition: -webkit-transform 250ms $cubicParameters;
      transition: transform 250ms $cubicParameters;
      transition: transform 250ms $cubicParameters, -webkit-transform 250ms $cubicParameters;
    
      /* при ховере на итем срабатывает, а при фокусе на итем нет, поэтому фокус - на ссылку */

      .work-item:hover &,
      .work-item a:focus & {   
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);    
      }

      // @media screen and (max-width: 1599px) {
      //   .work-item a:focus & {   
      //     opacity: 1;
      //     -webkit-transform: translateY(0);
      //             transform: translateY(0);    
      //   }
      // }

      @media screen and (max-width: 1599px) {
        .work-item:hover & {   
          opacity: 1;
          -webkit-transform: translateY(0);
                  transform: translateY(0);    
        }
      }

      .work-text {
        /* display: flex; */
        margin-top: 0;
        margin-bottom: 0;
        padding: 63px 24px;
        color: $primaryWhiteColor;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
  
  