/* section */
.section {
  min-width: $sectionWidth;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: lightblue; */
  
  &-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: $titleTextColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}
  
.section-bott {
  padding-bottom: 0;
}

.section-top {  
  padding-top: $sectionPaddingTop;
}
  

/* conteiner */
.conteiner { 
  
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  
  width: $conteinerWidth;
  // outline: 1px solid crimson; 

  // @media screen and (min-width: 480px) {
  //   width: 480px;      
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;      
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;      
  // }
}