body {
    margin: 0;
    background-color: $primaryWhiteColor;
    color: $primaryTextColor;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    overflow-x:hidden; 
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }