// /* цвет основного фона #FFFFFF */
// /* вторичный цвет фона #F5F4FA */
// /* цвет основного текста #757575 */
// /* вторичный цвет текста #212121 */
// /* белый #FFFFFF */
// /* акцент #2196F3 */

$primaryWhiteColor: #FFFFFF;
$secondaryBgColor: #F5F4FA;
$bgColor: #2F303A;
$titleTextColor: #212121;
$primaryTextColor: #757575;
$accentColor: #2196F3;
$borderColor: #AFB1B8;

$conteinerWidth: 1170px;
$sectionPaddingTop: 94px;
$sectionWidth: 1600px;

$cubicParameters: cubic-bezier(0.4, 0, 0.2, 1);